<div class="row" id="header-top">
  <div class="col-md-12">
    <p class="text-right">Certificado de contribuição</p>
  </div>
</div>

<div class="row" id="header-content">

  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6 text-center">
    <a href="http://www.hcancer.com.br/" target="_blank">
      <img src="/assets/img/hospital-cancer-logo.png" alt="Hospital do cancer">
    </a>
  </div>

  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-6 text-center">
    <a routerLink="">
      <img src="/assets/img/mtcap-logo.png" alt="MTCAP Logo">
    </a>
  </div>

  <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12 text-center">
    <address>
       <h4>INFORMAÇÕES PELO TELEFONE:</h4>
       <h3><i class="glyphicon glyphicon-earphone"></i> (65) 3055-1100</h3>
       <h5>(65) 3055-0660</h5>
       
       <a href="https://www.facebook.com/mtcapoficial">
           <img src="/assets/img/facebook.png" alt="Facebook MTCAP">/mtcapoficial
       </a>
    </address>
  </div>

</div>