<footer>
  <div class="row">
    
    <div class="col-md-4 text-center">
      <a href="http://www.hcancer.com.br/" target="_blank">
        <img src="/assets/img/hospital-cancer-logo.png" alt="Hospital do cancer">
      </a>
      <h3>Instituição Beneficiada</h3>
      <p> 
        Hospital de Câncer de Mato Grosso, desde 1999, atende a demanda de pacientes com ... 
        (<a routerLink="/instituicao-beneficiada">leia mais</a>)
      </p>
    </div>
    
    <div class="col-md-4 text-center">
      <a routerLink="">
        <img src="/assets/img/mtcap-logo.png" alt="Hospital do cancer">
      </a>
      <h3>MTCAP</h3>
      <p> 
        Ao adquirir o MT CAP, você concorre a prêmios e ainda contribuiu com o HOSPITAL DE CÂNCER DO MATO GROSSO ... 
        (<a routerLink="/titulo-capitalizacao">leia mais</a>)
      </p>
    </div>

    <div class="col-md-4">
        <h3>Últimos Sorteios</h3>
        <ul>
          <li *ngFor="let sortition of latestSortitions">
              <a routerLink="{{ sortition.id }}">{{ sortition.edition_number }}ª Edição | {{ sortition.sortition_date | date}}</a>
          </li>
        </ul>              
    </div>

  </div>
</footer>
