<div class="row">
  <footer>
    <div class="row">
      
      <div class="col-md-4 text-center">
        <img src="/assets/img/hospital-cancer-logo.png" alt="Hospital do cancer">
        <h3>Instituição Beneficiada</h3>
        <p> 
          Hospital de Câncer de Mato Grosso, desde 1999, atende a demanda de pacientes com ... 
          (<a href="http://mtcap.com.br/instituicao_beneficiada">leia mais</a>)
        </p>
      </div>
      
      <div class="col-md-4 text-center">
        <img src="/assets/img/mtcap-logo.png" alt="MTCAP Logo">
        <h3>MTCAP</h3>
        <p> 
          Ao adquirir o MT CAP, você concorre a prêmios e ainda contribuiu com o HOSPITAL DE CÂNCER DO MATO GROSSO ... 
          (<a href="http://mtcap.com.br/titulo_capitalizacao">leia mais</a>)
        </p>
      </div>

      <div class="col-md-4 text-center">
          <h3>Últimos Sorteios</h3>
          <a href="http://mtcap.com.br/resultados&id=MTIx">121ª Edição | 02/04/2017</a><br>
          <a href="http://mtcap.com.br/resultados&id=MTIw">120ª Edição | 26/03/2017</a><br>
          <a href="http://mtcap.com.br/resultados&id=MTE5">119ª Edição | 19/03/2017</a><br>
          <a href="http://mtcap.com.br/resultados&id=MTE4">118ª Edição | 12/03/2017</a><br>
          <a href="http://mtcap.com.br/resultados&id=MTE3">117ª Edição | 05/03/2017</a><br>
          <a href="http://mtcap.com.br/resultados&id=MTE2">116ª Edição | 26/02/2017</a><br>
          
          
          
          
          
      </div>

    </div>
  </footer>
</div>