.sortition {
    background-color: #c42b30;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

h1 {
    color: #c42b30;
    font-weight: bold;
}

.content {
    padding: 10px;
}