<div class="row content">
  <h1>Sobre a MTCAP</h1>

<h2> Quanto é?</h2>

<p>
  O <strong> MT CAP</strong> custa R$ 10,00 (edição promocional) ou R$ 20,00. No ato da compra e necessário preencher 
  corretamente o canhoto, que se encontra na parte inferior do título, com todos os dados, para que o contemplado seja 
  identificado. Aos domingos, são realizados os sorteios sempre a partir das 8:00hr, na tv Record, canal 10.
</p>

<h2>Como Funciona?</h2>

<p>
  Todos os domingos são feitos 03(três) ou 4 (quatro) sorteios principais, através de globo lúdico, 
  de onde sãotiradas tantas bolas quantas sejam necessários até que uma ou mais pessoas completem uma sequência de 20 (vinte) 
  dezenas dispostas em cada um dos prêmios no anverso do Recibo de Contribuição, e com isso, seja(m) contemplado(s) 
  com um dos prêmios oferecidos na edição correspondente. Depois será realizado um sorteio randômico, ou seja, 
  aleatório de prêmios com o código premiado,a quantidade de prêmios aleatórios estará disposta no 
  Recibo de Contribuição do sorteio vigente. Este sorteio é chamado 
</p>

</div>