<div class="row content">
  <h1>Condições Gerais</h1>

  <div class="col-md-6">
    <form>
        <div class="form-group">
          <label for="nameInput">Nome</label>
          <input type="email" class="form-control" id="nameInput" placeholder="Nome">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="subjectInput">Assunto</label>
          <input type="text" class="form-control" id="subjectInput" placeholder="Assunto">
        </div>
        <div class="form-group">
          <label for="messageInput">Mensagem</label><br>
          <textarea rows="10" class="form-control" placeholder="Mensagem" id="messageInput"></textarea>
        </div>
        <button type="submit" class="btn btn-info">Enviar</button>
    </form>
  </div>

  <div class="col-md-6">
    <h1>MT CAP</h1>
    <p>Horário de Atendimento das 8:00 as 18:00hrs</p>

    <p>Av. Tenente Coronel Duarte, nº 285 – Centro – Cuiabá/MT</p>

    <address>
      <h3>Fones de Contatos</h3>
      (65) 3055-1100
      (65) 3055-0660
      <h3>Endereço Eletrônico</h3>
      mtcap@mtcap.com.br
    </address>
  
  </div>


</div>