#navbar-topo {
    margin-bottom: 0px;
    border: none;
    background-image: url('/assets/img/bg-menu.png');
}

#menu-top {
    background-color: #b71319;
    /*background-image: url('/assets/img/bg-menu.png');*/
}