  <div class="sortition">
    {{sortition?.edition_number}}ª Edição -	{{sortition?.sortition_date| date: 'dd/MM/yyyy'}}
  </div>

  <img src="{{sortition?.banner}}" *ngIf="sortition?.banner" 
    alt="{{ sortition?.edition_number }}" width="100%">

  <img src="{{sortition?.legacy_image}}" *ngIf="!sortition?.banner" 
    alt="{{ sortition?.edition_number }}" width="100%">

  <h3>Prêmios</h3>
  <div class="panel panel-default">
      <div class="panel-heading">Confira o resultado de cada prêmio e seus ganhadores</div>
      <div class="panel-body">
          <div *ngFor="let prize of sortition?.prizes" class="premio">
              <h4 class="sortition">
                <strong>{{ prize.order }}º Prêmio:</strong> 
                {{ prize.description }} - {{ prize.value | currency:'BRL':true}}
              </h4>

              <img src="{{ prize.image }}" alt="{{ prize.description }}" 
                class="img-responsive" *ngIf="prize.image" >
                <hr>
              <h4 *ngIf="prize?.result?.bolls">Bolas sorteadas</h4>
              <div *ngFor="let ball of prize?.result?.bolls"  class="bola">
                  {{ ball }}
              </div>

              <div class="prize-info-adict" *ngFor="let ganhador of prize?.result?.winner_set">
                      <p><strong>Ganhador:</strong> {{ ganhador.person }}</p>
                      <p><strong>Endereço:</strong> {{ ganhador.person_address }}</p>
                      <p><strong>Nº da sorte:</strong> {{ ganhador.ticket_number }}</p>
                      <p><strong>Vendedor:</strong> {{ ganhador.salesman }}</p>
              </div>
          </div>
      </div>
  </div>

<div class="row" *ngIf="sortition?.luckytwist">
  <h3>Giro da sorte</h3>
  <div *ngFor="let lt of sortition?.luckytwist" class="col-xm-12 col-sm-12 col-md-4 col-lg-4">

    <div class="panel panel-default">
        <div class="panel-heading"><strong>Ganhador: </strong>{{ lt.person }}</div>
            <div class="panel-body">
                <p> <strong>Cidade: </strong>{{ lt.person_city }}</p>
                <p> <strong>Nº da sorte:</strong>{{ lt.ticket_number }}</p>
                <p> <strong>Vendedor:</strong>{{ lt.salesman }}</p>
            </div>
    </div>

  </div>
</div>
