/* You can add global styles to this file, and also import other style files */
body {
    background-color: #272426;
}

.content {
    background-image: url('/assets/img/bg-topo-menu.png');
    padding: 40px;
}