<app-banners></app-banners>
<div class="row">
		<div class="col-md-6 col-xs-12 box-conteudo-home bg-yellow">
			<div class="box-conteudo">
				<h1 id="titulo-busca-home"> QUEM GANHA NO LEGAL CAP A GENTE VÊ POR AQUI!</h1>
				<form action="" method="GET" role="form">
					<div class="row">
						<div class="col-md-4 col-xs-3">
							<div class="radio">
								<label>
									<input type="radio" name="optionBusca" value="nome" checked="">
									NOME
								</label>
							</div>
						</div>
						<div class="col-md-4 col-xs-5">
							<div class="radio">
								<label>
									<input type="radio" name="optionBusca" value="titulo">
									Nº DO CERTIFICADO
								</label>
							</div>
						</div>
						<div class="col-md-4 col-xs-4">
							<div class="radio">
								<label>
									<input type="radio" name="optionBusca" value="extracao">
									Extração
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="busca" placeholder="INSIRA SEUS DADOS">
					</div>
					<button type="submit" class="btn btn-primary">PESQUISAR</button>
				</form>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 box-conteudo-home bg-cinza">
			<div class="topo-box">

				Data: 02/04/2017 - Extração: 1045
			</div>

						<img src="http://legalcap.com.br/img/sorteios/02042017/base-ganhadores1ao4-01.png" class="img-responsive img-box" id="img-selecionada-edicao">
						<div class="box-footer owl-carousel slider-footer owl-theme" id="" style="opacity: 1; display: block;">

												<div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 4672px; left: 0px; display: block;"><div class="owl-item" style="width: 584px;"><div class="col-md-3 bg-red box-ganhador box-ganhador-font-padding">
					<a href="javascript:;" data-img-src="sorteios/02042017/base-ganhadores1ao4-01.png">
						<div class="show-cell">
							1º GANHADOR(a) - Edimilson Marques // José Alves dos Santos
						</div>
					</a>
				</div></div><div class="owl-item" style="width: 584px;"><div class="col-md-3 bg-dark-red box-ganhador box-ganhador-font-padding">
					<a href="javascript:;" data-img-src="sorteios/02042017/base-ganhadores1ao4-01.png">
						<div class="show-cell">
							2º GANHADOR(a) - Paulo Sergio Dos Santos
						</div>
					</a>
				</div></div><div class="owl-item" style="width: 584px;"><div class="col-md-3 bg-red box-ganhador box-ganhador-font-padding">
					<a href="javascript:;" data-img-src="sorteios/02042017/base-ganhadores1ao4-01.png">
						<div class="show-cell">
							3º GANHADOR(a) - Weliton Lopes Goncalves
						</div>
					</a>
				</div></div><div class="owl-item" style="width: 584px;"><div class="col-md-3 bg-dark-red box-ganhador box-ganhador-font-padding">
					<a href="javascript:;" data-img-src="sorteios/02042017/base-ganhadores1ao4-01.png">
						<div class="show-cell">
							4º GANHADOR(a) - Alberto Pereira Andrade 
						</div>
					</a>
				</div></div></div></div>
																				
																								
																								
												
			<div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="glyphicon glyphicon-menu-left"> </i></div><div class="owl-next"><i class="glyphicon glyphicon-menu-right"> </i></div></div></div></div>
		</div>
	</div>