<app-banners></app-banners>
<br>
<div class="container">
	<div class="row">
		
		<div class="col-md-6 square-block" id="next-sortition">
			<h3 class="text-center">Fique ligado</h3>
			<a routerLink="/proximo-sorteio"><h1 class="text-center">Próximo sorteio</h1></a><br>
			<p class="text-center">
				<span class="label label-info" id="next-sortition-date">09.04.2017</span>
			</p>
			<p class="text-center"> Edição nº 1523351 </p>

		</div>

		<div class="col-md-6 square-block" id="who-won">
			<h3 class="text-center">Quer saber se ganhou?</h3>
			<a routerLink="/resultados"><h1 class="text-center">Confira os resultados dos sorteios</h1></a><br>
			<p class="text-center">
				<a routerLink="/resultados" class="btn btn-info btn-lg"> Conferir resultados</a>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 square-block">
			<iframe width="560" height="300" src="https://www.youtube.com/embed/dsxoibshN44" frameborder="0" allowfullscreen></iframe>
		</div>

		<div class="col-md-6 square-block" id="publicity">
			<div class="col-md-6">
				<a routerLink="/publicidade"><h3 class="text-center">Todos os nossos vídeos</h3>
					<p class="text-center">
						<img src="/assets/img/youtube.png" alt="Videos do youtube">
					</p>
					<p class="text-center">				
						<span>Acesse nosso canal do youtube</span>
					</p>
				</a>
			</div>
			<div class="col-md-6">
				<a routerLink="/pontos-de-venda">
					<h3 class="text-center">Ponto de venda</h3>
					<p class="text-center">
						<img src="/assets/img/placeholder.png" alt="Videos do youtube">
					</p>
					<p class="text-center">				
						<span>Sempre um ponto perto de você</span>
					</p>
				</a>
			</div>
			<a routerLink="/sorteio-ao-vivo">
				<h3 class="text-center">Ao vivo</h3>
				<p class="text-center">
					<img src="/assets/img/play.png" alt="Videos do youtube">
				</p>
				<p class="text-center">				
					<span>Assista o nosso sorteio online</span>
				</p>
			</a>
		</div>

	</div>

</div>